<div class="container">
  <form (submit)="$event.preventDefault(); onSave()">
    <!-- First Name -->
    <label>First Name:</label>
    <input type="text" [formField]="userForm.firstName" placeholder="Enter first name" />

    <!-- Last Name -->
    <label>Last Name:</label>
    <input type="text" [formField]="userForm.lastName" placeholder="Enter last name" />

    @let addr = userForm.address;

    <!-- Street -->
    <label>Street:</label>
    <input type="text" [formField]="addr.street" placeholder="Enter street" />

    <!-- City -->
    <label>City:</label>
    <input type="text" [formField]="addr.city" placeholder="Enter city" />

    <!-- Postcode -->
    <label>Postcode:</label>
    <input type="text" [formField]="addr.postcode" placeholder="Enter postcode" />

    @if (userForm().submitting()) {
      <button type="submit" disabled>Submitting...</button>
    } @else {
      <button type="submit">Login</button>
    }
  </form>

  <button (click)="setFormValues()">Set Form Values</button>
</div>
