.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  > * {
    border: 1px solid lightgray;
    padding: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .form-field {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 10px;
      }

      .alert {
        color: red;
        font-size: 10px;

        p {
          margin-top: 0;
        }
      }
    }
  }
}
