<div class="container">
  <form novalidate (submit)="$event.preventDefault(); onSave()">
    <!-- First Name -->
    <div class="form-field">
      <label>First Name:</label>
      <input type="text" [formField]="userForm.firstName" placeholder="Enter first name" />
      @let firstName = userForm.firstName();
      @let firstNameErrors = firstName.errors();

      @if (firstName.dirty() && firstName.touched()) {
        <div class="alert">
          @for (error of firstNameErrors; track error) {
            <p>{{ error.message }}</p>
          }
        </div>
      }
    </div>

    <!-- Last Name -->
    <div class="form-field">
      <label>Last Name:</label>
      <input type="text" [formField]="userForm.lastName" placeholder="Enter last name" />
      @let lastName = userForm.lastName();
      @let lastNameErrors = lastName.errors();

      @if (lastName.dirty() && lastName.touched()) {
        <div class="alert">
          @for (error of lastNameErrors; track error) {
            <p>{{ error.message }}</p>
          }
        </div>
      }
    </div>

    @let addr = userForm.address;

    <!-- Street -->
    <div class="form-field">
      <label>Street:</label>
      <input type="text" [formField]="addr.street" placeholder="Enter street" />
      @let street = userForm.address.street();
      @let streetErrors = street.errors();

      @if (street.dirty() && street.touched()) {
        <div class="alert">
          @for (error of streetErrors; track error) {
            <p>{{ error.message }}</p>
          }
        </div>
      }
    </div>

    <!-- City -->
    <div class="form-field">
      <label>City:</label>
      <input type="text" [formField]="addr.city" placeholder="Enter city" />
      @let city = userForm.address.city();
      @let cityErrors = city.errors();

      @if (city.dirty() && city.touched()) {
        <div class="alert">
          @for (error of cityErrors; track error) {
            <p>{{ error.message }}</p>
          }
        </div>
      }
    </div>

    <!-- Postcode -->
    <div class="form-field">
      <label>Postcode:</label>
      <input type="text" [formField]="addr.postcode" placeholder="Enter postcode" />
      @let postcode = userForm.address.postcode();
      @let postcodeErrors = postcode.errors();

      @if (postcode.dirty() && postcode.touched()) {
        <div class="alert">
          @for (error of postcodeErrors; track error) {
            <p>{{ error.message }}</p>
          }
        </div>
      }
    </div>

    <!-- Country -->
    <div class="form-field">
      <label>Country:</label>
      <input type="text" [formField]="addr.country" placeholder="Enter country" />
      @let country = userForm.address.country();
      @let countryErrors = country.errors();

      @if (country.dirty() && country.touched()) {
        <div class="alert">
          @for (error of countryErrors; track error) {
            <p>{{ error.message }}</p>
          }
        </div>
      }
    </div>

    <!-- Credit Card -->
    <div class="form-field">
      <label>Credit Card:</label>
      <input type="text" [formField]="userForm.cc" placeholder="Enter credit card" />
      @let cc = userForm.cc();
      @let ccErrors = cc.errors();

      @if (cc.dirty() && cc.touched()) {
        <div class="alert">
          @for (error of ccErrors; track error) {
            <p>{{ error.message }}</p>
          }
        </div>
      }
    </div>

    @if (userForm().submitting()) {
      <button type="submit" disabled>Submitting...</button>
    } @else {
      <!-- <button type="submit" [disabled]="userForm().invalid()">Save</button> -->
      <button type="submit">Save</button>
    }
  </form>

  <button (click)="setFormValues()">Set Form Values</button>
</div>
